EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

DB_HOST=localhost
DB_PORT=3306
DB_USER=root #Nombre de Usuario db
DB_PASS=     #Password de Usuario db
DB_NAME=sigcmi #Nombre de la basde de datos

## Informacion Server
BACKEND_URL=http://localhost
PORT=3000
JWT_SECRET=123456